<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head">
</head>
<body>
<div class="container">
    <header th:replace="layout :: navbar" />
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        ADMINISTRATOR
                    </div>
                </div>

                <div class="profile-usermenu">
                    <ul class="nav nav-tab">
                        <li class="active">
                            <a href="#tab-1" data-toggle="tab">
                                ADD PRODUCT
                            </a>
                        </li>
                        <li>
                            <a href="#tab-2" data-toggle="tab">
                                TODO ORDERS
                            </a>
                        </li>
                        <li>
                            <a href=#tab-3 th:action="@{/admin/getProducts}" data-toggle="tab" >
                                PRODUCTS STOCK
                            </a>
                        </li>
                        <li>
                            <a href="#tab-4" data-toggle="tab">
                                TODO STATISTICS tempalty fajne so
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane active" id="tab-1">
                    <div class="alert alert-success" th:if="${productAdded}">
                        Product added to database.
                    </div>
                    <div class="alert alert-danger" th:if="${productFailure}">
                        Product adding failure.
                    </div>
                    <form th:action="@{/admin/addProduct}" method="post">
                        <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name"
                                       name="name"/>
                        </div>
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input type="number" step="any" class="form-control" id="price"
                                   name="price"/>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity:</label>
                            <input type="number" step="1" class="form-control" id="quantity"
                                   name="quantity"/>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description"
                                   name="description"/>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Add product
                        </button>
                    </form>
                </div>

                <div class="tab-pane fade" id="tab-2" >
                    Tab2
                </div>
                <div class="tab-pane fade" id="tab-3" >
                    <table>
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Quantity</td>
                            <td>Price</td>
                            <td>Description</td>
                        </tr>
                        <tr th:each="product : ${products}">
                            <td th:text="${product.id}"></td>
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.quantity}"></td>
                            <td th:text="${product.price}"></td>
                            <td th:text="${product.description}"></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab-4" >
                    Tab4
                </div>
            </div>
        </div>
    </div>





</body>
</html>