<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head"></head>

<body>
<header th:replace="layout :: navbar"/>

<div class="container">
    <div class="jumbotron">
        <div class="row border-ftr">
            <div class="col-sm-12">
                A
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />
</body>
</html>