<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head"></head>

<body>
<header th:replace="layout :: navbar"/>

<div class="container">
    <div class="alert alert-info" th:if="${cartItemList == null}">
        Your cart is empty.
    </div>
    <div class="jumbotron" th:if="${cartItemList != null}">
        <div class="row cart-row">
            <div class="col-sm-3">
            Product
        </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                Quantity:
            </div>
            <div class="col-sm-3">
                Price:
            </div>
        </div>
        <div class="row cart-row" th:each="cartItem : ${cartItemList}">
            <form th:action="@{/user/updateCartItem}" method="post">
                <input type="hidden" name="id" id="id" th:value="${cartItem.id}">
            <div class="col-sm-3">
                <img class="product-detail-img img-responsive" th:src="@{/img/product/} + ${cartItem.product.id} + '.png'"/>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                    <input type="number" name="qty" id="qty" min="1" max="100" th:value="${cartItem.quantity}">
                    <button type="submit" class="btn btn-danger">Refresh</button>
            </div>
            <div class="col-sm-3">
                <p th:text="${cartItem.subTotal} + '$'" ></p>
            </div>
            </form>
            <form th:action="@{/user/removeItem}">
                <input type="hidden" name="id" id="id" th:value="${cartItem.id}">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="col-sm-6">
        </div>
        <div class="col-sm-3">
                <p th:text="'Total: ' + ${shoppingCart.total} + '$'" ></p>
        </div>
        <div class="col-sm-3">
            <input type="submit" class="btn btn-danger btn-checkout" value="Checkout"/>
        </div>
    </div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />
</body>
</html>