<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout :: site-head"/>
</head>
<body>

<div th:replace="layout :: navbar"/>

<div class="container">

    <div class="starter-template">
        <h1>403 - Access is denied</h1>
        <div th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]',
            you do not have permission to access this page.</div>
    </div>

</div>
<!-- /.container -->


<div th:replace="layout :: scripts"/>
<footer th:replace="layout :: site-footer" />

</body>
</html>