<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Password confirmation</title>
</head>
<body>
<header th:replace="layout :: navbar" />
<div class="login-container">
    <div>
        <div th:if="${successMessage}" class="alert alert-success"
             role="alert" th:text=${successMessage}></div>

        <div th:if="${errorMessage}" class="alert alert-danger"
             role="alert" th:text=${errorMessage}></div>
    </div>
</div>
</body>
</html>