<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>User Registration</title>
</head>
<body>
<header th:replace="layout :: navbar" />
    <div class="login-container">
        <h4>Recover your password</h4>
        <form th:action="@{/forgetPassword}" method="post">
            <div th:if="${emailNotExists}" class="alert alert-danger">
                There is no account connected with that email.
            </div>
            <div th:if="${emailSent}" class="alert alert-info">
                Email with next steps of recovering password has been sent.
            </div>
            <div th:if="${emailSent == null}" class="form-group">
                <label for="recoverEmail">* Your Email: </label>
                <input required="required" type="text" class="form-control"
                    id="recoverEmail" name="email" />
                <p style="color: #828282">Enter your registered email address here.</p>
            </div>

            <button type="submit" class="btn btn-danger">Submit</button>

    </div>
</body>

</html>