<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head">
    <title>Welcome to AlleGo!</title>
</head>

<body>

<header th:replace="layout :: navbar" />

<h1>Welcome to AlleGo!</h1>
Now is: <b th:text="${execInfo.now.time}">date and time</b>
<a th:href="@{/login}">sadsadds</a>
<a href="/login">sadsadds</a>

<!--<h1 th:each="u : ${allUsers}" th:text="${u.name}">User1</h1>-->
<div th:replace="layout :: scripts"/>


<span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
	</span>

<footer th:replace="layout :: site-footer" />

</body>

</html>