<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="site-head">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>

	<script src="../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
	<script src="../public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	<meta th:include="this :: head" th:remove="tag"/>
</head>
	

<nav th:fragment="navbar" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-left logo" th:href="@{/}">	<img src="../public/img/logo.png" th:src="@{/img/logo.png}"></a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a th:href="@{/}" class="dropdown-toggle" data-toggle="dropdown">All categories <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/}">Product category</a></li>
							<li><a th:href="@{/}">Product category</a></li>
							<li><a th:href="@{/}">Product category</a></li>
							<li><a th:href="@{/}">Product category</a></li>
							<li><a th:href="@{/}">Product category</a></li>
							<li><a th:href="@{/}">Product category</a></li>
							<li class="divider"></li>
							<li><a th:href="@{/products}">All products</a></li>
						</ul>
					</li>
					<li class="dropdown">
							<a th:href="@{/}" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/}">Action</a>
								</li>
								<li><a th:href="@{/}">Another action</a>
								</li>
								<li><a th:href="@{/}">Something else here</a>
								</li>
								<li class="divider"></li>
								<li><a th:href="@{/}">Separated link</a>
								</li>
								<li class="divider"></li>
								<li><a th:href="@{/}">One more separated link</a>
								</li>
							</ul>
						</li>
				</ul>

				<div class="navbar-right">
					<ul class="nav navbar-nav">
						<li>
							<a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/panel}">
								ADMIN PANEL
							</a>
						</li>
						<li>
							<a sec:authorize="hasRole('USER')" th:href="@{/user/myAccount}">
								<span class="glyphicon glyphicon-user"></span>
								My account
							</a>
						</li>
						<li>
							<a sec:authorize="hasRole('USER')" th:href="@{/user/cart}">
								<span class="glyphicon glyphicon-shopping-cart"></span>
								Your Cart
							</a>
						</li>
						<li>
							<a sec:authorize="isAuthenticated()" th:href="@{/logout}">
								Logout
							</a>
						</li>
						<li>
							<a sec:authorize="isAnonymous()" th:href="@{/login}">
								Login
							</a>
						</li>
						<li>
							<a sec:authorize="isAnonymous()" th:href="@{/register}">
								Register
							</a>
						</li>
					</ul>
				</div>
			</div>
	</div>
</nav>

<footer th:fragment="site-footer">
	<span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
	</span>
 &copy; AlleGo by Kamil Korenkiewicz, 2017
</footer>

</html>