<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="site-head">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>

	<script src="../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
	<script src="../public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	<meta th:include="this :: head" th:remove="tag"/>
</head>
	

<nav th:fragment="navbar" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-left logo" th:href="@{/}">	<img src="../public/img/logo.png" th:src="@{/img/logo.png}"></a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a th:href="@{/}" class="dropdown-toggle" data-toggle="dropdown">All categories <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/}">Product category</a></li>
							<li><a th:href="@{/}">Product category</a></li>
							<li><a th:href="@{/}">Product category</a></li>
							<li><a th:href="@{/}">Product category</a></li>
							<li><a th:href="@{/}">Product category</a></li>
							<li><a th:href="@{/}">Product category</a></li>
							<li class="divider"></li>
							<li><a th:href="@{/products}">All products</a></li>
						</ul>
					</li>
				</ul>

				<div class="navbar-right">
					<ul class="nav navbar-nav">
						<li>
							<a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/panel}">
								ADMIN PANEL
							</a>
						</li>
						<li>
							<a sec:authorize="hasRole('USER')" th:href="@{/user/myAccount}">
								<span class="glyphicon glyphicon-user"></span>
								My account
							</a>
						</li>
						<li>
							<a sec:authorize="hasRole('USER')" th:href="@{/user/cart}">
								<span class="glyphicon glyphicon-shopping-cart"></span>
								Your Cart
							</a>
						</li>
						<li>
							<a sec:authorize="isAuthenticated()" th:href="@{/logout}">
								Logout
							</a>
						</li>
						<li>
							<a sec:authorize="isAnonymous()" th:href="@{/login}">
								Login
							</a>
						</li>
						<li>
							<a sec:authorize="isAnonymous()" th:href="@{/register}">
								Register
							</a>
						</li>
					</ul>
				</div>
			</div>
	</div>
</nav>

<footer th:fragment="site-footer">
 <div class="container">
	 <div class="row border-ftr">
		 <div class="col-sm-12">
			 <nav class="navbar navbar-footer ">
				 <ul class="nav navbar-nav">
					 <li><a href="#">About Best Store</a></li>
					 <li><a href="#">Contact Us</a></li>
					 <li><a href="#">Social Media</a></li>
				 </ul>
			 </nav>
		 </div>
	 </div>
	 <div class="row leg-room">
		 <div class="col-md-12 text-center">
			 <h1 class="text-uppercase">AlleGo</h1>
			 <p class="monospaced">
				 &copy;2017 AlleGo Company Inc.
				 <span class="text-uppercase">All Rights Reserved</span></p>
		 </div>
	 </div>
 </div>
</footer>

</html>