<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="layout :: site-head">

</head>
<body>

<header th:replace="layout :: navbar"/>

    <div class="container">

                    <h1>Please Sign In</h1>
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control input-lg"
                               placeholder="email" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Password" required="true"/>
                    </div>
                <input type="submit" class="btn btn-primary" value="Log In"/>


    </div>



<div th:replace="layout :: scripts"/>
<footer th:replace="layout :: site-footer" />

</body>
</html>