<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head">
<title>All products</title>
</head>



<body>
<header th:replace="layout :: navbar" />

<div class="container">
    <div class="row">
        <div class="col-sm-3"  th:each="product : ${products}" >
            <div class="thumbnail">
                <a th:href="@{/product}"><img th:src="@{/img/product.png}" /></a>
                    Product name:<div th:text="${product.name}" ></div>
                    Price: <div th:text="${product.price}"> </div>
                    <button class="btn btn-danger"><a> ADD TO CART</a></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>