<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head">
<title>All products</title>
</head>



<body>
<div class="container">
    <header th:replace="layout :: navbar" />
    <div class="row pr-row">
        <div class="col-sm-3"  th:each="product : ${products}" >
            <div class="product">
                <a th:href="@{/product?id=} + ${product.id}"><img class="product-category" th:src="@{/img/product/} + ${product.id} + '.png'"/></a>
                <div class="col-sm-9">
                    <p th:text="${product.name}" ></p>
                </div>
                <div class="col-sm-3">
                     <p th:text="${product.price}"></p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a th:href="@{/product?id=} + ${product.id}"><button class="btn btn-danger btn-cart"> View detalis</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>