<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>User Registration</title>
</head>
<body>
<header th:replace="layout :: navbar" />
    <div class="login-container">

        <h4>New User Registration</h4>

        <div class="alert alert-info" th:if="${emailSent}">
            An email has been sent to the email address you just registered. Please validate your email address and update your account information.
        </div>
        <div class="alert alert-info" th:if="${usernameExists}">
            Username already ocuppied. Please choose another username.
        </div>
        <div class="alert alert-info" th:if="${emailExists}">
            Email already used. Please choose another email or use <a th:href="@{/password}">password recovery</a>.
        </div>
        <form th:action="@{/register}" method="post">
            <div class="form-group">
                <label for="newUsername">* Username: </label> <input
                    required="required" type="text" class="form-control"
                    id="newUsername" name="username" />
                <p style="color: #828282">Enter your username here.</p>
            </div>

            <div class="form-group">
                <label for="email">* Email Address: </label> <input
                    required="required" type="text" class="form-control"
                    id="email" name="email" />
                <p style="color: #828282">A valid email address. All
                    emails from the system withll be sent to this address. The
                    email address is not made public and will only be used if
                    you wish to receive a new password or wish to receive
                    certain notification.</p>
            </div>

            <button type="submit" class="btn btn-danger login-submit">Create new account</button>
        </form>
    </div>
</body>

</html>